.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }

.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }
