/**
 * Vendor prefix
 *
 * Removes the pain of manually adding vendor-specific properties.
 * For example:
 *
 * -webkit-font-smoothing: antialiased;
 *    -moz-font-smoothing: antialiased;
 *     -ms-font-smoothing: antialiased;
 *      -o-font-smoothing: antialiased;
 *         font-smoothing: antialiased;
 *
 * Will become:
 *
 * @include vendor-prefix(font-smoothing, antialiased);
 */
@mixin vendor-prefix($name, $argument) {

    -webkit-#{$name}: #{$argument};
       -moz-#{$name}: #{$argument};
        -ms-#{$name}: #{$argument};
         -o-#{$name}: #{$argument};
            #{$name}: #{$argument};

}

/**
 * Placeholder color
 *
 * Removes the pain of manually styling an input placeholder.
 * For example:
 *
 * :-moz-placeholder           { color: #ffffff; opacity: .5; }
 * ::-moz-placeholder          { color: #ffffff; opacity: .5; }
 * :-ms-input-placeholder      { color: #ffffff; opacity: .5; }
 * ::-webkit-input-placeholder { color: #ffffff; opacity: .5; }
 *
 * Will become:
 *
 * @include placeholder-color(#ffffff);
 */
@mixin placeholder-color($color) {

    :-moz-placeholder           { color: #{$color}; opacity: .5; } /* Mozilla Firefox 4 to 18 */
    ::-moz-placeholder          { color: #{$color}; opacity: .5; } /* Mozilla Firefox 19+ */
    :-ms-input-placeholder      { color: #{$color}; opacity: .5; } /* Internet Explorer 10-11 */
    ::-webkit-input-placeholder { color: #{$color}; opacity: .5; } /* WebKit, Blink, Edge */


}
