@import "fonts/fonts";

$bs-font-family-roboto:             "Roboto", sans-serif !default;
$bs-font-family-material:           "Material Icons", sans-serif !default;
$bs-font-family-bebas-neue:         "Bebas Neue", sans-serif !default;

$bs-font-size-big:                  20px !default;
$bs-font-size-base:                 16px !default;
$bs-font-size-small:                12px !default;
$bs-font-size-medium:               14px !default;

$bs-font-weight-light:              300 !default;
$bs-font-weight-medium:             400 !default;
$bs-font-weight-regular:            500 !default;
$bs-font-weight-bold:               700 !default;
