.battlefield {
    border: 1px solid $bs-black;
    margin-top: 20px;
    margin-left: calc((100% - 576px) / 2);

    background: $bs-light-blue; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  $bs-light-blue 0%, $bs-blue 70%, $bs-blue 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  $bs-light-blue 0%,$bs-blue 70%,$bs-blue 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  $bs-light-blue 0%,$bs-blue 70%,$bs-blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.battlefield::after {
    clear: both;
    content: "";
    display: table;
}
