$bebas-neue-font-path: "../fonts/Bebas-Neue/";

@mixin bebas-neue-font($variant, $type) {

    $font-full-path: "#{$bebas-neue-font-path}/#{$variant}";

    @font-face {
        font-family: "Bebas Neue";
        src: url("#{$font-full-path} #{$type}.ttf");
        src: local("#{$variant} #{$type}"),
        local("#{$variant} #{$type}"),
        url("#{$font-full-path} #{$type}.otf") format("otf"),
        url("#{$font-full-path} #{$type}.ttf") format("truetype");
    }

}

@include bebas-neue-font("BebasNeue", "Bold");
@include bebas-neue-font("BebasNeue", "Book");
@include bebas-neue-font("BebasNeue", "Thin");
@include bebas-neue-font("BebasNeue", "Light");
@include bebas-neue-font("BebasNeue", "Regular");

.bebas-neue {

    font-family: "Bebas Neue", serif;
    letter-spacing: .1rem;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

}
