.hints {

    padding: 20px;
    border: 1px solid rgba($bs-black, .2);
    background-color: rgba($bs-white, .2);

    .hints-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .hints-body {
        padding-left: 30px;
        margin-bottom: 1rem;
    }

}
